$red: red;
.gm-style-iw.gm-style-iw-c {
  //  position: relative;
 //   bottom:300px;
  p {
      color:black;
      font-weight:bold;
      line-height: 20px;
      font-size: 1em;
      padding-top:0px;
      margin-bottom:0px;

      i {
          color:red
      }
  }

}
 